<p-card header="Simulador de CDB - B3">
    <ng-template pTemplate="header">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <span>Simulador de CDB - B3</span>
        <button pButton type="button" icon="pi pi-cog" class="p-button-rounded p-button-text"
          (click)="openConfigPanel()" style="float: right"></button>
      </div>
    </ng-template>
    <div class="p-fluid">
      <div class="field">
        <label for="valor">Valor do Investimento (R$)</label>
        <p-inputNumber [(ngModel)]="initialAmount" inputId="valor" mode="currency" currency="BRL" locale="pt-BR"></p-inputNumber>
      </div>
  
      <div class="field">
        <label for="prazo">Prazo (em meses)</label>
        <p-inputNumber [(ngModel)]="months" inputId="prazo" mode="decimal" min="1" [showButtons]="true"></p-inputNumber>
      </div>
  
      <p-button label="Calcular" icon="pi pi-check" (onClick)="calculate()"></p-button>
  
      <div *ngIf="result" class="result">
        <h3>Resultado</h3>
        <p><strong>Valor Bruto:</strong> R$ {{ result.grossAmount | number:'1.2-2' }}</p>
        <p><strong>IR:</strong> R$ {{ result.incomeTax | number:'1.2-2' }}</p>
        <p><strong>Valor Líquido:</strong> R$ {{ result.netAmount | number:'1.2-2' }}</p>
      </div>
    </div>

    <p-sidebar [(visible)]="configPanelVisible" position="right" [baseZIndex]="10000">
      <h3>Configurações</h3>
      <div class="field">
        <label>Tema:</label>
        <p-selectButton [options]="themeOptions" [(ngModel)]="selectedTheme"></p-selectButton>
      </div>
      <div class="field">
        <label>CDI (%):</label>
        <input type="number" [(ngModel)]="cdi" class="p-inputtext p-component" />
      </div>
      <div class="field">
        <label>TB (%):</label>
        <input type="number" [(ngModel)]="tb" class="p-inputtext p-component" />
      </div>
      <button pButton label="Salvar" (click)="saveConfig()" class="p-mt-2"></button>
    </p-sidebar>

  </p-card>
  